body {
    background-color: black;
    color: white;
    margin: 0;
}

#title {
    width: 100%;
    height: 555px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.8)), url(../images/title.png);
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: bottom 0% right 48%;
    padding-bottom: 12%;
    position: relative;
}