* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Netflix Sans Regular', sans-serif;
    font-weight: 400;
    text-align: center;
}



/* font */

@font-face {
    font-family: Netflix Sans Black;
    src: url(netflix-sans-font/netflixsans-black.ttf);
}

@font-face {
    font-family: Netflix Sans Bold;
    src: url(netflix-sans-font/NetflixSans-Bold.otf);
}

@font-face {
    font-family: Netflix Sans Medium;
    src: url(netflix-sans-font/NetflixSans-Medium.otf);
}

@font-face {
    font-family: Netflix Sans Regular;
    src: url(netflix-sans-font/NetflixSans-Regular.otf);
}

@font-face {
    font-family: Netflix Sans Light;
    src: url(netflix-sans-font/NetflixSans-Light.otf);
}



/* title */

#title {
    width: 100%;
    height: 95vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.85)), url(../images/title.png);
    background-size: cover;
    background-position: bottom;
    position: relative;
}

.title-menu {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    padding: 24px;
}

@media screen and (max-width: 1279px) {
    .title-menu {
        display: flex;
        width: auto;
    }
}

.logo-img {
    width: 150px;
    padding-left: 10px;
}

.menu-btn {
    border: 0;
    height: 32px;
    margin-right: 22px;
    padding: 0 15px;
    border-radius: 4px;
    cursor: pointer;
}

#language-btn {
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    border: 0.4px solid rgba(255, 255, 255, 0.7);
    font-family: 'Netflix Sans Regular', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 125px;
}

#language-btn i {
    font-size: 0.8rem;
}

#signin-btn {
    background-color: #db0000;
    color: #ffffff;
    font-family: 'Netflix Sans Medium', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
}

.title-header {
    margin: 200px 70px;
}

.title-header h1 {
    font-family: 'Netflix Sans Black', sans-serif;
    font-weight: 900;
    font-size: 3rem;
}

.title-header h4 {
    font-family: 'Netflix Sans Regular', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 16px;
}

.signup-text {
    font-family: 'Netflix Sans Regular', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-top: 24px;
}

.signup-form {
    display: inline-flex;
    justify-content: space-between;
    width: 594px;
    margin-top: 15px;
}

.signup-form input {
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    border: 0.5px solid rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    font-family: 'Netflix Sans Regular', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    width: 360px;
    height: 40px;
    padding: 7px;
}

.signup-form button {
    background-color: #db0000;
    color: #ffffff;
    border: 0;
    border-radius: 4px;
    font-family: 'Netflix Sans Medium', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 24px;
    width: 210px;
    height: 56px;
}

.signup-form button i {
    font-size: 1.1rem;
}



/* feature */

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 90px 160px;
}

.col-text {
    flex-basis: 50%;
    margin-bottom: 60px;
    text-align: left;
}

.col-text h2 {
    font-family: 'Netflix Sans Black', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 20px;
}

.col-text h5 {
    font-family: 'Netflix Sans Regular', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.col-img {
    flex-basis: 50%;
    margin-bottom: 20px;
}

.col-img img {
    width: 85%;
}

.divider {
    display: block;
    width: 100%;
    height: 0.5rem;
    margin-top: 10px;
    background-color: rgb(35, 35, 35);
}



/* faq */

#faq {
    padding: 30px;
}

#faq h2 {
    font-family: 'Netflix Sans Black', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    margin-top: 30px;
}

.faq-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 560px;
    margin: 20px 0 50px;
}

.faq-dropdown {
    width: 80%;
    height: 84px;
    border: 0;
    background-color: rgb(45, 45, 45);
    color: #ffffff;
    font-family: 'Netflix Sans Regular', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: left;
    padding: 0 20px;
}

.signup-div {
    margin: 50px 0 80px;
}